.contenedor {
  box-shadow: 0 10px 0 0 black;
  margin-bottom: 100px;
  padding-bottom: 55px;
}

.row {
  font-size: 1.2rem;
}

.titulo {
  text-align: center;
  margin: auto;
  padding: 55px 0;
  font-size: 3.5rem;
}

.texto {
  padding: 25px;
}
