<section>
  <h2>Educacion</h2>
  <div>
      <p>Terciario</p>
      <p>Tecnicatura Superior en Desarrollo Web y Aplicaciones Moviles</p>
      <p>En Instituto Superior Politecnico de Cordoba</p>
      <p>En Curso</p>
      <p>Desde Marzo 2022
          <br>
          Hasta Diciembre 2025
      </p>
  </div>

  <div>
      <p>Secundario</p>
      <p>Cenma cede N° 17</p>
      <p>Finalizada en 2021</p>
  </div>

  <h2>Cursos realizados</h2>
  <div>
      <p>
          • Argentina Programa 1ra Etapa:
      </p>
          <p>
              Finalizado diciembre 2021.
          </p>
  </div>
  <div>
      <p>
          • Mantenimiento y reparación de PC y configuración de redes:
      </p>
          <p>
              Otorgado por Byte System en diciembre del 2021 con
              Certificado de la UTN de Córdoba
          </p>
  </div>
  <div>
      <p>
          • Operador avanzado de Excel:
      </p>
          <p>
              Otorgado por Byte System
              diciembre 2021
          </p>
  </div>
  <div>
      <p>
          • Programación en Python:

      </p>
          <p>
              Otorgado por Byte System el mes de enero de 2021
          </p>
  </div>
  <div>
      <p>
          • Desarrollador de Videojuegos Nivel I:
      </p>
          <p>
              Otorgado el 24 de Julio del año 2020 - Modalidad a
              distancia – UTN FFRe - Ciudad de Resistencia, Chaco,
              Argentina
          </p>
  </div>
</section>
