<section>
  <div class="contenedor texto">
    <h2 class="titulo">Experiencia</h2>
    <div class="row">
      <div class="col">
        <p>Actualmente me encuentro en busca de mi primer trabajo IT por lo tanto no cuento con experiencia en el area.
            <br>
        aun asi cuento con experiencia en otras areas</p>
      </div>
      <div class="col">
        <p>Operador de Radio Taxi en SERVITAXI</p>
        <p>Full Time</p>
        <p>Desde Abril de 2017
          <br>
          Hasta Febrero de 2021
        </p>
        <p>Actividades realizadas :
          <br>
          Encargado de atender a los clientes telefonicamente y personalmente.
          <br>
          Organizacion y seleccion de vehiculo a enviar al cliente.
        </p>
      </div>
    </div>
  </div>
</section>
