<header>
  <section>
    <div class="contenedor">
      <div>
        <img class="img-fluid" src="assets/img/hero_imagen.jpg">
        <img class="img-thumbnail img-fluid" src="assets/img/Perfil.jpg">
      </div>
      <h2 class="titulo">Acerca de</h2>
      <div class="container texto">
       <div class="row">
         <div class="col">
           <h3>Walter Facundo Salvatierra
             <br>
             Full Stack Developer Jr.</h3>
         </div>
         <div class="col">
           <p>Soy Estudiante del Instituto Politecnico Superior De Cordoba (ISPC).
             <br>
             Actualmente estoy en busca de mi primer empleo IT.
           </p>
           <a href="#">
             <img class="ispc col" src="assets/img/Logo-ispc.jpg" >
           </a>
         </div>
       </div>
      </div>
    </div>
  </section>


</header>
