<header>
  <section>
    <div>
      <div>
        <img class="hero" src="assets/img/hero_imagen.jpg">
        <img class="perfil" src="assets/img/Perfil.jpg">
      </div>
      <h2>Acerca de</h2>
      <div >
        <h3>Walter Facundo Salvatierra Full Stack Developer Jr.</h3>
        <div>
          <p>Soy Estudiante del Instituto Politecnico Superior De Cordoba (ISPC).
            <br>
            Actualmente estoy en busca de mi primer empleo IT.
          </p>
        </div>
      </div>
    </div>
  </section>


</header>
