.contenedor {
  box-shadow: 0 0 0 15px black;
  margin-bottom: 100px;
  padding-bottom: 55px;
}

.row {
  font-size: 1.2rem;
}


.img-thumbnail {
  width: 35%;
  margin-top: -150px;
  border-radius: 100%;
  z-index: 1;
}


.titulo {
  text-align: center;
  margin: auto;
  padding: 55px 0;
  font-size: 3.5rem;
}

.texto {
  padding: 25px;
}

.ispc {
  width: 35%;
  border-radius: 100%;
}
