<section>
  <div class="contenedor texto">
    <h2 class="titulo">Hard & Soft Skills</h2>
    <div class="row">

      <div class="col">
          <p>HTML5</p>
      </div>
      <div class="col">
          <p>CCS</p>
      </div>
      <div class="col">
          <p>JavaScript</p>
      </div>
      <div class="col">
          <p>TypeScript</p>
      </div>
      <div class="col">
          <p>Bootstrap</p>
      </div>
      <div class="col">
          <p>MySQL</p>
      </div>
      <div class="col">
          <p>Java</p>
      </div>
      <div class="col">
          <p>Angular</p>
      </div>
      <div class="col">
          <p>Git & GitHub</p>
      </div>
      <div class="col">
          <p>Python</p>
      </div>
    </div>
  </div>
</section>
